<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSyGp29TGmwYjz2JVYJ74oa8YWrsuWjKA</string>
	<key>GCM_SENDER_ID</key>
	<string>593479002965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exchangeApp</string>
	<key>PROJECT_ID</key>
	<string>exchange-8425d</string>
	<key>STORAGE_BUCKET</key>
	<string>exchange-8425d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593479002965:ios:bcd71346f54932dc8a9ddc</string>
</dict>
</plist>